body{
    background-color: lightblue;
}
h1{
    color:royalblue;
    margin-left: 2px;
    font-size: 100px;
}
h2 {
    color: maroon;
    margin-left: 2px;
    margin-left: 80px;
  }
#para1 {
    text-align: center;
    color: red;
  }
.center {
    text-align: center;
    color:salmon
}
h3, h4, h5 {
    text-align: right;
    color: limegreen;
  }
table {
    border-collapse: collapse;
    width: 100%;
  }
  
th, td {
    border-bottom: 1px solid #ddd;
  }

tr:hover {background-color: yellow;}